/* .toolsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.editorSection, .testSection {
  flex: 1;
  background: #f9f9f9;
  padding: 16px;
  border-radius: 4px;
}
.editorSection {
  margin-right: 8px;
} */
