/* .ant-layout-content {
  padding: 16px;
  background-color: #001529;
  min-height: 100vh;
}


@media (max-width: 768px) {
  .ant-layout-content {
    padding: 8px;
  }
}


h1,
h2,
h3 {
  color: #ffffff;
  font-weight: 500;
} */
