.my-button {
  background-color: #1890ff; /* Задаем синий фон */
  border-color: #1890ff; /* Синяя рамка */
  color: white; /* Белый цвет текста */
}

.my-button:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

/* Пример дополнительных стилей для таблицы (если используется Ant Design Table) */
/*
.my-table .ant-table {
  border: 1px solid #d9d9d9;
}

*/

.ant-layout-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ant-list,
.ant-table {
  width: 100%;
}

.ant-layout-sider {
  border-right: none !important;
}
.ant-layout-header {
  border-bottom: none !important;
}
