html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
/* Light & dark theme global styles */
body.light-theme {
  background: #ffffff;
  color: #000000;
}
body.dark-theme {
  background: #1f1f1f;
  color: #ffffff;
}
